body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url('https://cutewallpaper.org/21/pokemon-battle-backgrounds/Free-download-Pokemon-Battle-Background-The-background-.png');
    background-image: no-repeat;
    text-align: center;
}

section {
    margin-bottom: 0%;
}

