body {
   text-align: center;
   background-image: url('https://wallpaperaccess.com/full/8614.jpg');
}

h2 {
   background-color: yellow
}


.chart {

   margin-left: 20px;
   margin-right: 20px;
   margin-top: 20px;
   padding: 40px;
   background-color: white;
}




